.mb-6{
    margin-bottom: 6em;
}
.link{
    text-decoration: none;
    color: inherit;
}
.link:hover{
    color: #343661;
}
.bgimg{
    max-width: 100%;
    height: auto;
}
.process-section {
    background-color: #F7F7F7; /* 背景颜色 */
    padding: 50px 0;
  }
  .process-step {
    text-align: center;
    margin-bottom: 30px;
  }
  .process-step img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .process-arrow {
    text-align: center;
    font-size: 24px;
    color: #f17945;
  }
  .arrow-horizontal {
    display: none;
  }
  .arrow-vertical {
    display: block;
  }
  @media (min-width: 992px) {
    .arrow-horizontal {
      display: block;
    }
    .arrow-vertical {
      display: none;
    }
  }
  .advantages-disadvantages {
    background-color: #F7F7F7; /* 背景颜色 */
    padding: 50px 0;
  }
  .advantages-disadvantages h4 {
    color: #f17945; /* 标题颜色 */
  }
  .advantages-disadvantages ul {
    list-style: none;
    padding: 0;
  }
  .advantages-disadvantages ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  .advantages-disadvantages ul li::before {
    content: '★';
    color: #f17945; /* 图标颜色 */
    position: absolute;
    left: 0;
  }
  .disadvantages ul li::before {
    content: '✘';
    color: #f17945; /* 图标颜色 */
    position: absolute;
    left: 0;
  }
  
.Fossil-fuels{
    background-color:#F7F7F7 ;
}

body {
    background-color: #F7F7F7;
  }
  
  .carousel .card {
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .carousel .card-body {
    text-align: center;
  }
  
  .carousel .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .carousel .card-text {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .carousel-indicators li {
    background-color: #999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .carousel-indicators .active {
    background-color: #333;
  }
  
  .fixed-height-card {
    height: 400px; /* Adjust this value as needed */
  }
  
  .fixed-height-card .card-img-top {
    height: 200px; /* Adjust this value as needed */
    object-fit: cover;
  }
  